{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Список сообщений</h1>
    <a href="{% url 'mailing:create_message' %}" class="btn btn-primary mb-3">Создать сообщение</a>
    
    <div class="row">
        {% for message in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ message.theme }}</h5>
                    <p class="card-text">
                        <strong>Текст:</strong> {{ message.text|truncatechars:100 }}
                    </p>
                    <div class="btn-group">
                        <a href="{% url 'mailing:detail_message' message.pk %}" class="btn btn-info">Подробнее</a>
                        <a href="{% url 'mailing:update_message' message.pk %}" class="btn btn-warning">Изменить</a>
                        <a href="{% url 'mailing:delete_message' message.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>Нет доступных сообщений</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 