{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Детали клиента</h1>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.full_name }}</h5>
            <p class="card-text">
                <strong>Email:</strong> {{ object.email }}<br>
                <strong>Комментарий:</strong> {{ object.commentary }}
            </p>
            
            <h6>Рассылки:</h6>
            <ul>
                {% for mailing in object.mailings_set.all %}
                <li>Рассылка #{{ mailing.id }} ({{ mailing.start_sending }} - {{ mailing.end_sending }})</li>
                {% empty %}
                <li>Нет активных рассылок</li>
                {% endfor %}
            </ul>
            
            <div class="btn-group mt-3">
                <a href="{% url 'mailing:list_client' %}" class="btn btn-secondary">Назад к списку</a>
                <a href="{% url 'mailing:update_client' object.pk %}" class="btn btn-warning">Изменить</a>
                <a href="{% url 'mailing:delete_client' object.pk %}" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 