{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Список клиентов</h1>
    <a href="{% url 'mailing:create_client' %}" class="btn btn-primary mb-3">Добавить клиента</a>
    
    <div class="row">
        {% for client in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ client.full_name }}</h5>
                    <p class="card-text">
                        <strong>Email:</strong> {{ client.email }}<br>
                        <strong>Комментарий:</strong> {{ client.commentary }}
                    </p>
                    <div class="btn-group">
                        <a href="{% url 'mailing:detail_client' client.pk %}" class="btn btn-info">Подробнее</a>
                        <a href="{% url 'mailing:update_client' client.pk %}" class="btn btn-warning">Изменить</a>
                        <a href="{% url 'mailing:delete_client' client.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>Нет доступных клиентов</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 