{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Информация о пользователе</h4>
                </div>
                <div class="card-body">
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Имя:</strong> {{ user.first_name|default:"Не указано" }}</p>
                    <p><strong>Фамилия:</strong> {{ user.last_name|default:"Не указана" }}</p>
                    <div class="d-grid gap-2">
                        <a href="{% url 'users:profile' %}" class="btn btn-primary">Редактировать профиль</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Мои рассылки</h4>
                </div>
                <div class="card-body">
                    {% if user.mailings_set.all %}
                        <div class="row">
                            {% for mailing in user.mailings_set.all %}
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Рассылка #{{ mailing.id }}</h5>
                                        <p class="card-text">
                                            <strong>Статус:</strong> {{ mailing.get_status_display }}<br>
                                            <strong>Частота:</strong> {{ mailing.get_frequency_display }}<br>
                                            <strong>Начало:</strong> {{ mailing.start_sending }}<br>
                                            <strong>Окончание:</strong> {{ mailing.end_sending }}
                                        </p>
                                        <div class="btn-group">
                                            <a href="{% url 'mailing:detail_mailing' mailing.pk %}" class="btn btn-info">Подробнее</a>
                                            <a href="{% url 'mailing:update_mailing' mailing.pk %}" class="btn btn-warning">Изменить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center">У вас пока нет рассылок</p>
                        <div class="text-center">
                            <a href="{% url 'mailing:create_mailing' %}" class="btn btn-primary">Создать рассылку</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 